# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env
.venv/
Scripts/

# Django
*.log
local_settings.py
db.sqlite3
media/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
